*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-outline:  hsl(217, 16%, 45%);
    --dark-text: hsl(229, 25%, 31%);
}

body{
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(237, 49%, 15%);
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-size: 100% 100%;
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.header{
    color: white;
    border: var(--header-outline) 3px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom: 5rem;
}

.header__img{
    width: 30%;
    max-width: 155px;
}

.header__score{
    background-color: #fff;
    padding: .6rem 1rem;
    border-radius: 10px;
    text-align: center;
}

.header__name{
    color:  hsl(229, 64%, 46%);
    font-size: 1rem;
    font-weight: 600;

}

.header__result::after{
    content: attr(data-score);
    font-size: 2.5rem;
    color: var(--dark-text);
}

.game{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "game";
}


.board{
    grid-area: game;
    width: 60%;
    min-width: 230px;
    max-width: 400px;
    height: max-content;
    color: white;
    margin: 0 auto;
    position: relative;


    opacity: 1;
    pointer-events: unset;
    transition: .4s opacity ;
}

.board--hidde{
    opacity: 0;
    pointer-events: none;
}

.board__bg{
    width: 100%;
}


.option{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 4px inset;
}



.option img{
    pointer-events: none;
    width: 40px;
}

.option:active{
    scale: .9;
}


.option--paper{
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    outline: 7px hsl(230, 89%, 62%)  solid;
}

.option--scissors{
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    outline: 7px hsl(39, 89%, 49%) solid;
}

.option--rock{
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    margin: 0 auto;
    outline: 7px solid hsl(349, 71%, 52%);
}


.option--finally{
    border: 4px solid white;
    position: unset;
    display: block;
    transform: unset;
}

.result{
    color: white;
    grid-area: game;
    margin: 0 auto;
    opacity: 1;
    pointer-events: unset;
    transition: .4s opacity ;
}

.result--hidde{
    opacity: 0;
    pointer-events: none;
}

.result__options{
    display: flex;
    gap: 3rem;
}

.result__option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result__name{
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
}

.result__finally{
    margin: 2.5rem 0 1.5rem;
    font-size: 3rem;
    text-align: center;
}

.btn{
    cursor: pointer;
    display: block;
    width: max-content;
    margin: 0 auto;
    background-color: white;
    border: none;
    color: var(--dark-text);
    font: inherit;
    padding: .8rem 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
}

.btn--rules{
    background-color: transparent;
    position: absolute;
    color: white;
    border: 2px solid var(--header-outline);
    bottom: 80px;
    right: 40px;
    cursor: pointer;
}

.btn--rules:hover{
    background-color: white;
    color: var(--header-outline);
}

.modal{
    z-index: 10;
    position: fixed;
    inset: 0;
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;

    place-items: center;
}

.modal[open]{
    display: grid;
    opacity: 0;
    animation: show .4s forwards;
}

@keyframes show {
    100%{
        opacity: 1;
    }
}

.modal__container{
    width: max-content;
    height: max-content;
    background-color: white;
    text-align: center;
}

.modal__name{
    font-size: 2rem;
    margin-bottom: 3rem;
    color: var(--dark-text);
}

.modal__button{
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
    margin: 3rem auto;
}

.modal__close{
    display: block;
    pointer-events: none;
    width: 25px;
}


@media (width > 700px) {

    .result__name{
        font-size: 1.2rem;
       
    }

    .option{
        width: 80px;
        height: 80px;
    }

    .result__finally{
        font-size: 4rem;
    }

    .modal{
        margin: auto;
        width: max-content;
        height: max-content;
        border-radius: 10px;
    }

    .modal::backdrop{
        background-color: hsl(0 0% 0% / .5);
    }

    .modal__container{
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        grid-template-rows: max-content max-content;
        padding: 2rem;
        
    }

    .modal__name{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
        justify-self: start;
    }

    .modal__button{
       grid-column: 2/3;
       grid-row: 1/2;
       margin: 0;
        justify-self: end;
    }

    .modal__img{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    
}